.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2.5rem; /* Increased padding for more height */
  background: linear-gradient(90deg, #38B2AC, #3182CE); /* Horizontal gradient */
  color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}


.topbar-right {
  display: flex;
  align-items: center; /* Align elements vertically */
}

.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #fff; /* Search bar border */
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #fff; /* Background color of the input */
  margin-right: 1rem; /* Space between elements */
}

.search-icon {
  color: #38B2AC; /* Icon color */
  margin-right: 0.5rem; /* Space between icon and input */
}

.search-bar {
  border: none; /* No border for the input */
  outline: none; /* Remove outline on focus */
  padding: 0.5rem;
  border-radius: 5px;
  width: 200px; /* Adjust width as needed */
}

.notification-container {
  position: relative; /* To position the notification count */
  margin-right: 1rem; /* Space before profile picture */
}

.notification-icon {
  color: #fff; /* Icon color */
  font-size: 1.5rem; /* Icon size */
}

.notification-count {
  position: absolute;
  top: -5px;
  right: -10px; /* Position the notification count */
  background-color: red;
  border-radius: 50%;
  color: white;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
}

.profile-picture {
  width: 40px; /* Size of the user image */
  height: 40px; /* Ensure it's a circle */
  border-radius: 50%; /* Make it circular */
}
